body {
    background-image: url('../images/kattebaggrund.png'); /* Path to your local image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */

    padding-bottom: 50px;

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    background-color: transparent;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-top: 0;
    color: #4d4948;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    color: #4d4948;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: red;
    border-radius: 4px;
}

button {
    background-color: #f2c18e;
    color: white;
    border: #f2c18e;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #f2c18e;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.link {
    margin-top: 20px;
}

a {
    color: #4d4948;
    text-decoration: none;
}
a{
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}