<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Logged In</title>
    <link rel="stylesheet" href="/startersheet.css">
</head>
<body>
<div class="container">
    <h2>Velkommen <span th:text="${email}"></span>!</h2>

    <div class="menu-buttons">
        <a href="/posts" class="menu-button">Se Alle Katte</a>
        <a href="/posts/my-posts" class="menu-button">Mine Katte</a>
        <a href="/posts/create" class="menu-button">Tilføj Ny Kat</a>
    </div>

    <div class="link" style="margin-top: 30px;">
        <a href="/logout">Log ud</a>
    </div>
</div>
</body>
</html>
