<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/startersheet.css">
</head>
<body>
<div class="container">
    <h2>Opret bruger</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <label>Email</label>
        <input type="text" th:field="*{email}" required>
        <label>Password</label>
        <input type="text" th:field="*{password}" required>
        <label>Navn</label>
        <input type="text" th:field="*{firstname}" required>
        <label>Efternavn</label>
        <input type="text" th:field="*{lastname}" required>
        <div class="error" th:text="${error}"></div>
        <button type="submit">Register <a href="/loggedin"> </a></button>
    </form>
    <div class="link">
        <a href="/login">Allrede bruger? Log ind</a>
    </div>
</div>
</body>
</html>